.booksFormSection {
  width: 75rem;
  margin: 0 6.25rem 2.5rem;
  border-top: 1px solid #e8e8e8;
  background-color: #fafafa;
}

.addNewBook {
  width: 10.875rem;
  height: 1.5rem;
  margin: 1.813rem 32.75rem 1.188rem 0;
  font-family: Montserrat;
  font-size: 1.125rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.18px;
  color: #888;
}

